* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #0a222d;
}
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:active,
a:hover,
a:visited,
a:link {
  color: #00dfdd;
}
.title {
  font-family: "Montserrat", sans-serif;
  color: #00dfdd;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}
.text-alert {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
